p {color: white; text-align: center; font-family: serif;}
.Gufi {color: white; text-align: left;}
em {Color: red;}
.info {Color: white; text-align: center; font-family: serif;}
li {color: white;}
.info2 {color: red; text-align: center; font-family: serif; background-color: black;}
.Text {text-align: center;}
img {Text-align: center;}
.imagen {Text-align: center;}
.albums {Text-align: center;}
.nav 
.Extrass {Text-align: center;}

